.container {margin-top: 100px; width: 400px;}
.recipes { margin-bottom: 50px;}
.fileinput-button { float: left;}
.progress {width: 200px; float: left; margin: 7px 20px;}
.filename { float: left; margin-left: 20px; font-size: 1.2em; line-height: 34px;}
.analytics { margin: 20px 0;}
.result {margin-top: 30px;}
.result span { display: inline-block; margin-left: 10px; font-size: 1.2em; font-weight: bold; color: blue; }
.error {clear: both;}